.qr-code
  display: inline
  height: 20vh
  width: 20vh
  min-height: 20vh
  min-width: 20vh
  // padding: 1vh
  background-color: white
  flex-shrink: 0
.landscape

.portrait

.banner-h
  .qr-code
    // padding: 5vh
    height: 100vh
    min-height: 100vh
    width: 100vh
    min-width: 100vh
    