.landscape
  @media (max-width: 640px), (max-height: 360px)
    &
      font-size: .3em

  @media (min-width: 640px), (min-height: 360px)
    &
      font-size: .5em
  
  @media (min-width: 1280px), (min-height: 720px)
    &
      font-size: 1em

  @media (min-width: 1920px), (min-height: 1080px)
    &
      font-size: 1.5em

  @media (min-width: 2560px), (min-height: 1440px)
    &
      font-size: 2em

  @media (min-width: 3840px), (min-height: 2160px)
    &
      font-size: 3em

.square
  @media (max-width: 360px), (max-height: 360px)
    &
      font-size: .3em

  @media (min-width: 360px), (min-height: 360px)
    &
      font-size: .5em
  
  @media (min-width: 720px), (min-height: 720px)
    &
      font-size: 1em

  @media (min-width: 1080px), (min-height: 1080px)
    &
      font-size: 1.5em

  @media (min-width: 1440px), (min-height: 1440px)
    &
      font-size: 2em

  @media (min-width: 2160px), (min-height: 2160px)
    &
      font-size: 3em

.portrait
  @media (max-width: 360px), (max-height: 640px)
    &
      font-size: .4em

  @media (min-width: 360px), (min-height: 640px)
    &
      font-size: .5em
  
  @media (min-width: 720px), (min-height: 1280px)
    &
      font-size: 1em

  @media (min-width: 1080px), (min-height: 1920px)
    &
      font-size: 1.5em

  @media (min-width: 1440px), (min-height: 2560px)
    &
      font-size: 2em

  @media (min-width: 2160px), (min-height: 3840px)
    &
      font-size: 3em