.news-item {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 73.5%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

.news-itemBH img {
  position: absolute;
  left: 50%;
  width: 44.8%;
  height: 100%;
  object-fit: cover;
  -webkit-animation: fadeIn 2s ease-in;
  animation: fadeIn 2s ease-in;
}