$white: white;
$solid: solid;
$fixed: fixed;
$center: center;
$fivePx: 5px;
$-webkit-animation: slideInBottom 1s ease-out;
$animation: slideInBottom 1s ease-out;

@media (orientation: landscape) {
  .news-item .qrCode {
    position: $fixed;
    right: 0%;
    bottom: -0.1%;
    width: 10%;
    height: 18.6%;
    text-align: $center;
    -webkit-animation: $-webkit-animation;
    animation: $animation;
    border-color: $white;
    border-style: $solid;
    border-width: $fivePx;
  }
}

@media (orientation: portrait) {
  .news-item .qrCode {
    position: $fixed;
    right: 0%;
    bottom: 0%;
    width: 31%;
    height: 18.5%;
    text-align: $center;
    -webkit-animation: $-webkit-animation;
    animation: $animation;
    border-color: $white;
    border-style: $solid;
    border-width: $fivePx;
  }
}