@media (orientation: landscape) {
  .news-item .qrCode {
    position: fixed;
    right: 12.4%;
    bottom: 4.6%;
    width: 25%;
    height: 50%;
    text-align: center;
    padding: 30px;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }

  .news-item .qrCode img {
    right: -40.8%;
    bottom: -11%;
    height: 37%;
    width: auto;
    margin: 3px;
    border-color: white;
    border-style: solid;
    border-width: 6px;
  }
}

@media (orientation: portrait) {
  .news-item .qrCode {
    position: fixed;
    right: 12.5%;
    bottom: 5%;
    width: 25%;
    height: 49%;
    text-align: center;
    padding: 30px;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }

  .news-item .qrCode img {
    right: -55%;
    bottom: -10%;
    height: 36.8%;
    width: auto;
    margin: 3px;
    border-color: white;
    border-style: solid;
    border-width: 6px;
  }
}