.App {
  width: 100%;
  height: 100%;
  background-color: black;
  color: antiquewhite;
  position: relative;
}

.App h1 {
  color: teal;
}

.App pre {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: teal;
  padding: 1em;
}

.App .val {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: teal;
  padding: 0.1em 0.5em;
  margin-left: 0.2em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-item {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 81.5%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 73.5%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

@media (orientation: landscape) {
  .news-item .logo {
    position: absolute;
    height: 8%;
    width: 15%;
    bottom: 18.5%;
    left: 0;
    padding: 1% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item .logo {
    position: absolute;
    height: 8%;
    width: 15%;
    bottom: 18.5%;
    left: 0;
    padding: 1% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item .logo {
    position: absolute;
    height: 8%;
    width: 25%;
    bottom: 18.5%;
    left: 0;
    padding: 2% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item .logo img {
    height: 65%;
    width: 100%;
    object-fit: scale-down;
    padding: 2% 10%;
  }
}

@media (orientation: landscape) {
  .news-item .logo img {
    height: 65%;
    width: 100%;
    object-fit: scale-down;
  }
}

@media (orientation: portrait) {
  .news-item .title {
    position: fixed;
    font-size: 4em;
    bottom: 18.5%;
    height: 8%;
    left: 25%;
    width: 75%;
    background-color: brown;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    text-align: center;
  }
}

@media (orientation: landscape) {
  .news-item .title {
    position: fixed;
    font-size: 3vw;
    bottom: 18.5%;
    height: 8%;
    width: 66%;
    left: 15%;
    background-color: brown;
    opacity: 1;
    padding: 1% 3% 5% 3%;
    padding-bottom: 5%;
    text-align: center;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
}

@media (orientation: landscape) {
  .news-item .desc {
    position: fixed;
    font-size: 2.5em;
    bottom: 0;
    left: 0;
    width: 92%;
    height: 18.5%;
    background-color: black;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

@media (orientation: portrait) {
  .news-item .desc {
    position: fixed;
    font-size: 2em;
    bottom: 0;
    left: 0;
    width: 69%;
    height: 18%;
    background-color: black;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

.descNoQrCode {
  position: fixed;
  font-size: 2.6em;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18%;
  background-color: black;
  opacity: 1;
  padding: 1% 3%;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
}

.loading img {
  margin-top: 24%;
  width: 5%;
  text-align: center;
  vertical-align: middle;
}

#title {
  position: absolute;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.qrcode {
  position: absolute;
  right: 12.5%;
  bottom: 5%;
  width: 25%;
  height: 49%;
  text-align: center;
  padding: 30px;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

.qrcode img {
  right: -50%;
  bottom: -10%;
  height: 37%;
  width: auto;
  margin: 3px;
  border-color: white;
  border-style: solid;
  border-width: 6px;
}

.text-fit {
  width: 100%;
}

#overlay {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: url('{$obg}');
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes slideInBottom {
  from {
    left: 110%;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -110%;
  }
}

@-webkit-keyframes slideIn {
  from {
    left: 110%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    left: 110%;
  }
}

@keyframes slideInLeft {
  from {
    left: -110%;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    left: -110%;
  }
}
