.App {
  width: 100%;
  height: 100%;
  background-color: black;
  color: antiquewhite;
  position: relative;
}

.App h1 {
  color: teal;
}

.App pre {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: teal;
  padding: 1em;
}

.App .val {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: teal;
  padding: 0.1em 0.5em;
  margin-left: 0.2em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-item {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item img {
    position: absolute;
    width: 100%;
    height: 73.5%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
}

@media (orientation: landscape) {
  .news-item .logo {
    position: absolute;
    height: 8%;
    width: 15%;
    bottom: 18.5%;
    left: 0;
    padding: 1% 0 5%;
    background-color: snow;
    opacity: 0.8;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }
}

@media (orientation: portrait) {
  .news-item .logo {
    position: absolute;
    height: 8%;
    width: 25%;
    bottom: 18.5%;
    left: 0;
    padding: 2% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }
}

@media (orientation: landscape) {
  .news-item .logo img {
    height: 65%;
    width: 100%;
    object-fit: scale-down;
  }
}

@media (orientation: portrait) {
  .news-item .logo img {
    height: 65%;
    width: 100%;
    object-fit: scale-down;
    padding: 2% 10%;
  }
}

@media (orientation: landscape) {
  .news-item .title {
    position: fixed;
    font-size: 3vw;
    bottom: 18.5%;
    height: 8%;
    width: 30%;
    left: 15%;
    background-color: brown;
    opacity: 0.8;
    padding: 1% 3% 5% 3%;
    padding-bottom: 5%;
    text-align: center;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    display: flex;
    justify-content: center;
  }
}

@media (orientation: portrait) {
  .news-item .title {
    position: fixed;
    font-size: 4em;
    bottom: 18.5%;
    height: 8%;
    left: 25%;
    width: 75%;
    background-color: brown;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    text-align: center;
  }
}

@media (orientation: portrait) and (height: 1920px) {
  .news-item .title {
    position: fixed;
    font-size: 4em;
    bottom: 18.5%;
    height: 8%;
    left: 25%;
    width: 75%;
    background-color: brown;
    opacity: 1;
    padding: 3% 3%;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    text-align: center;
  }
}

@media (orientation: landscape) {
  .news-item .desc {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 92%;
    height: 18.5%;
    background-color: black;
    opacity: 0.8;
    padding: 1% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

@media (orientation: portrait) {
  .news-item .desc {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 69%;
    height: 18%;
    background-color: black;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

@media (orientation: portrait) {
  .descNoQrCode {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-color: black;
    opacity: 0.8;
    padding: 4% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

@media (orientation: landscape) {
  .descNoQrCode {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18.5%;
    background-color: black;
    opacity: 0.8;
    padding: 2.4% 3%;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
}

.loading img {
  margin-top: 24%;
  width: 5%;
  text-align: center;
  vertical-align: middle;
}

#title {
  position: absolute;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

@media (orientation: landscape) {
  .qrcode {
    position: fixed;
    right: 12.5%;
    bottom: 5%;
    width: 25%;
    height: 49%;
    text-align: center;
    padding: 30px;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }

  .qrcode img {
    right: -50.6%;
    bottom: -10.7%;
    height: 37%;
    width: auto;
    margin: 3px;
    border-color: white;
    border-style: solid;
    border-width: 6px;
  }
}

@media (orientation: portrait) {
  .qrcode {
    position: fixed;
    right: 12.5%;
    bottom: 5%;
    width: 25%;
    height: 49%;
    text-align: center;
    padding: 30px;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }

  .qrcode img {
    right: -50%;
    bottom: -10%;
    height: 37%;
    width: auto;
    margin: 3px;
    border-color: white;
    border-style: solid;
    border-width: 6px;
  }
}

.text-fit {
  width: 100%;
}

#overlay {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: url('{$obg}');
}

.descNoQrCodeBH {
  font-size: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 10%;
  width: 70%;
  height: 100%;
  background-color: black;
  opacity: 1;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

.myImageBH {
  position: fixed;
  height: 100%;
}

.news-itemBH img {
  position: absolute;
  left: 50%;
  width: 44.8%;
  height: 100%;
  object-fit: cover;
  -webkit-animation: fadeIn 2s ease-in;
  animation: fadeIn 2s ease-in;
}

.news-itemBH .logoBH {
  position: fixed;
  height: 50%;
  width: 10.05%;
  bottom: 18.5%;
  left: 0;
  top: 0%;
  padding-right: 3%;
  /* right: 150%; */
  background-color: snow;
  opacity: 1;
  -webkit-animation: slideInLeft 1s ease-in;
  animation: slideInLeft 1s ease-in;
}

.news-itemBH .logoBH img {
  position: relative;
  height: 60%;
  width: 50%;
  top: 15%;
  display: flex;
  justify-content: center;
  object-fit: scale-down;
}

.news-itemBH .titleBH {
  position: fixed;
  font-size: 1.5em;
  top: 50%;
  height: 50%;
  width: 10.05%;
  left: 0%;
  background-color: brown;
  opacity: 1;
  padding: 0.5% 3% 0.4% 3%;
  -webkit-animation: slideInLeft 1s ease-in;
  animation: slideInLeft 1s ease-in;
  display: flex;
  justify-content: center;
}

.news-itemBH .descBH {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 10%;
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: 1;
  padding: 1% 3%;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

.qrcodeBH {
  display: flex;
  position: fixed;
  left: 50%;
  bottom: -3%;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

.qrcodeBH img {
  display: flex;
  position: relative;
  right: -130%;
  left: 130.5%;
  bottom: 20%;
  width: 24%;
  height: 100px;
  margin: 3px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

@media (height: 100px) and (width: 1920px) {
  .qrcodeBH {
    left: 88.6%;
    top: 15px;
    width: 230px;
    height: 100px;
    object-fit: cover;
    -webkit-animation: slideInBottom 1s ease-out;
    animation: slideInBottom 1s ease-out;
  }

  .qrcodeBH img {
    position: relative;
    width: 100%;
    margin: 3px;
    bottom: 12px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
  }

  .news-itemBH img {
    position: absolute;
    left: 50%;
    width: 44.8%;
    height: 100%;
    object-fit: cover;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
  }
  .myImageBHNoQrCode {
    position: fixed;
    top: 0%;
    height: 100%;
    width: 39%;
    left: 64%;
  }
}

@media (height: 100px) and (width: 1280px) {
  .myImageBHNoQrCode {
    position: fixed;
    top: 0%;
    height: 100%;
    bottom: 30%;
    width: 39%;
    left: 63.5%;
  }
}

.descNoQrCodeSQ {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18%;
  background-color: black;
  opacity: 0.8;
  padding: 5% 3%;
  -webkit-animation: slideInBottom 1s ease-out;
  animation: slideInBottom 1s ease-out;
}

@media (height: 1920px) and (width: 1920px) {
  .titleSQ {
    position: fixed;
    font-size: 5em;
    bottom: 18.5%;
    height: 8%;
    left: 25%;
    width: 75%;
    background-color: brown;
    opacity: 1;
    padding: 1.5% 3%;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    text-align: center;
  }

  .logoSQ {
    position: absolute;
    height: 8%;
    width: 25%;
    bottom: 18.5%;
    left: 0;
    padding: 2% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }

  .logoSQ img {
    height: 65%;
    width: 100%;
    bottom: 20%;
    object-fit: scale-down;
    padding: 2% 10%;
  }
}

@media (height: 1280px) and (width: 1280px) {
  .titleSQ {
    position: fixed;
    font-size: 4em;
    bottom: 18.5%;
    height: 8%;
    left: 25%;
    width: 75%;
    background-color: brown;
    opacity: 1;
    padding: 1% 3%;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
    text-align: center;
  }

  .logoSQ {
    position: absolute;
    height: 8%;
    width: 25%;
    bottom: 18.5%;
    left: 0;
    padding: 2% 0 5%;
    background-color: snow;
    opacity: 1;
    -webkit-animation: slideInLeft 1s ease-in;
    animation: slideInLeft 1s ease-in;
  }

  .logoSQ img {
    height: 65%;
    width: 100%;
    bottom: 20%;
    object-fit: scale-down;
    padding: 0% 10%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes slideInBottom {
  from {
    left: 110%;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -110%;
  }
}

@-webkit-keyframes slideIn {
  from {
    left: 110%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    left: 110%;
  }
}

@keyframes slideInLeft {
  from {
    left: -110%;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    left: -110%;
  }
}
